/* font name */

.raleway-name {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}
.text-centre{
    text-align: center;
}
.display-flex{
    display: flex;
}

body{
    background-color: rgb(214, 227, 227);
}

/* text colors */
.first-text{
    color: #4E47FF;
}
.second-text{
    color: #FFFFFF;
}
.third-text{
    color: #252432;
}

/* Header */
.header{
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);
    margin-bottom: 0;
}


/* Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 150px; */
    margin: 0px 150px;
}

.nav-logo{
    font-weight: 900;
    font-size: 34px;
}

/* banner style */
.banner{
    text-align: center;
    margin-top: 220px;
    margin-bottom: 37px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}

/* about section */

.about{
    display: flex;
    justify-content: space-between;
    margin: 116px;
}
.about-intro{
    width: 517px;
    height: 203px;
}
.about-title{
    font-weight: bold;
    font-size: 42px;
}
.about-details{
    font-weight: 400;
    font-size: 24px;
}
.about-image{
    border-radius: 25px;
    height: 328px;
    width: 403px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}


/* user section */

.user{
    border-radius: 10px;
    padding: 50px 140px;
    text-align: center;
    margin-top: 140px;
}

.user-bg{
    background-color: #D6D5FF;
}
.user-heading{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.user-ratio{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.user-description{
    font-weight: normal;
    font-size: 20px;
    color: #000000;
}
.user-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}

/* review section */
.review{
    
}
.review-title{
    font-weight: bold;
    font-size: 42px;
}
.review-all{
    display: flex;
    justify-content: space-around;
}
.review-card{
    max-width: 366px;
    max-height: 243px;
    padding: 24px;
    border-radius: 20px;
    background-color: rgb(255, 227, 227);
}
.review-info{
    display: flex;
    align-items: center;
    gap: 5px;
}
.review-name{
    margin: 0;
}
.review-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* focus section */

.focus{
    max-height: 680px;
    padding-top: 70px;
    margin-top: 140px;
    background-color: rgb(255, 227, 227);
    text-align: center;
    border-radius: 25px;
    
}
.focus-tittle{
    font-size: 50px;
    font-weight: bold;
}
.focus-description{
    font-size: 16px;
    font-weight: normal;
    color: rgb(184, 189, 193);
}
.focus-img{
    max-width: 840px;
    max-height: 365px;
    border-radius: 48px;
    padding: 20px;
}

/* log in style */
.login{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.login-info{
    padding-top: 70px;
}
.login-title{
    font-size: 97px;
    font-weight: bold;
    padding-top: 200px;
}
input[type="email"], input[type="text"], textarea{
    height: 40px;
    border-radius: 10px;
    width: 497px;
    padding: 20px 32px;
    margin-bottom: 10px;
    border: none;
}

.login-button{
    min-width: 497px;
    margin-top: 19px;
}